@use "../_utilities/mixins.scss" as mix;

// BUTTONS

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-fix-xs);
}

.button {
  display: inline-block;
  padding: var(--space-sm) var(--space-lg) calc(var(--space-sm) - 3px) var(--space-lg);

  background-color: transparent;
  border: var(--outline-md);
  border-radius: var(--radius-round);
  text-align: center;
  font-size: var(--text-xs);
  // white-space: nowrap;
  align-self: start;

  p {
    white-space: nowrap;
  }

  cursor: pointer;

  transition: all 0.2s ease-in-out;


  &:hover {
    color: var(--color-anthrazit);
    background-color: var(--color-white);
  }

  &--primary {
    border-color: var(--color-primary);
    background-color: var(--color-primary);

    &:hover {
      border-color: var(--color-primary-on);
      background-color: var(--color-primary-on);
      color: var(--color-white);
    }
  }

  &--tertiary {
    padding: 0;
    border: none;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1.5px;

    &:hover {
      border-color: transparent;
      background-color: transparent;
      color: inherit;
      opacity: 0.8;
    }
  }

  &--grey {
    color: var(--color-anthrazit-light);
    border: var(--outline-md-light);

    &:hover {
      color: var(--color-anthrazit);
      border: var(--outline-md);
      background-color: var(--color-white);
    }

    &.active {
      color: var(--color-white);
      border: var(--outline-md);

      &:hover {
        color: var(--color-anthrazit);
        background-color: var(--color-white);
      }
    }
  }

  &--disabled {
    display: flex;
    gap: var(--space-fix-xs);
    border: var(--outline-md-light);

    p {
      color: var(--color-anthrazit-light);
    }

    &:hover {
      color: var(--color-anthrazit-light);
      border: var(--outline-md-light);
      background-color: transparent;
      cursor: default;

      p {
        color: var(--color-anthrazit-light);
      }
    }
  }


}

.button-icon {
  appearance: none;
  line-height: 0;
  // align-self: start;
  // justify-self: start;
  transform: rotate(45deg);
  height: 55px;
  width: 55px;

  background-color: transparent;
  border: var(--outline-md);
  border-radius: var(--radius-round);

  transition: all 0.2s ease-in-out;
  cursor: pointer;

  svg {
    transition: all 0.2s ease-in-out;
    stroke: var(--color-white);
  }

  &:hover {
    background-color: var(--color-white);

    svg {
      stroke: var(--color-anthrazit-dark);
    }
  }
}

.button-switch {
  display: flex;
  gap: 0;
  // justify-content: end;



  &__item {
    border-radius: 0;

    &:first-of-type {
      border-radius: 50px 0px 0px 50px;
    }

    &:last-of-type {
      border-radius: 0px 50px 50px 0px;
    }
  }

  &--menu {
    gap: 2px;
  }

  &--calendar {

    & .button-switch__item--current {
      // background-color: var(--color-white);
      // color: var(--color-anthrazit);
      font-size: var(--text-xs);
      padding: 0 var(--space-fix-xs);
    }
  }
}

.tag {
  display: flex;
  align-items: center;
  gap: var(--space-fix-2xs);
  padding: var(--space-fix-xs) var(--space-fix-md) calc(var(--space-fix-xs) - 3px) var(--space-fix-md);

  background-color: transparent;
  border: var(--outline-md-light);
  border-radius: var(--radius-round);
  align-self: start;
  justify-self: start;
  white-space: nowrap;

  transition: all 0.2s ease-in-out;

  svg {
    width: var(--icon-height-2);
    height: var(--icon-height-2);
  }
}

.language-switch {
  display: flex;
  gap: var(--space-fix-2xs);

  & * {
    font-size: var(--text-sm);
  }

  &__item.active a {
    color: var(--color-primary);
  }
}

.club-buttons {
  margin-bottom: var(--space-md);
}