// BUTTONS

button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: var(--space-sm) var(--space-md);
  transition: all 0.2s;
  border-radius: var(--radius-full);

  &:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-xs);

}

.button {
  display: inline-block;
  padding: var(--space-sm) var(--space-md) calc(var(--space-sm) - 2px)
    var(--space-md);
  border-radius: var(--radius-round);
  border: var(--outline-md);

  &--primary {
    border: var(--outline-md);
  }
}
