@use "../_utilities/mixins" as mix;
@use "../_utilities/variables" as var;

main {

  &>section,
  &>.two-columns,
  &>section .section-margin {
    margin: 0 var(--space-fix-xl) var(--space-3xl) var(--space-fix-xl);
  }

  &>section,
  .subsection {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--space-fix-xl) var(--space-fix-md);
  }

  &>.two-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-fix-xl) var(--space-fix-md);

    &>div {
      display: flex;
      flex-direction: column;
      gap: var(--space-fix-xl);
    }

    &>section {
      margin: 0;
    }

    @include mix.media-md {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

// IMAGE CONTAINER

.image-container {
  width: 100%;
  overflow: hidden;

  &--contain {
    picture {
      display: block;
      width: 100%;
      height: 100%;
    }

    picture img,
    video {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }


  &--rounded {
    border-radius: var(--radius-1);
  }

  &--feature {
    height: 50dvh;
  }

  &--media {
    height: 95dvh;
    margin-bottom: var(--space-3xl);
  }

  &--class {
    aspect-ratio: 3 / 4;
    height: var(--image-height-1);
    width: auto;
    transform: rotate(-4deg);
    filter: var(--class-card-brightness);
  }
}

.image-card {
  position: relative;
  height: var(--image-height-1);
  // width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-md);

  img {
    transition: transform 0.7s ease-in-out;
  }

  &:hover {
    img {
      transform: scale(1.007);
    }
  }

  .image-container {
    width: 100%;
    height: 100%;

    position: absolute;
    inset: -1;
    display: flex;
  }

  p,
  a,
  span,
  .text,
  .image,
  .stores,
  h1,
  h2,
  h3,
  h4,
  svg {
    text-align: center;
    margin: 0 10%;
    z-index: 1;
  }
}