@font-face {
  font-family: "LyonDisplay";
  src: url("../fonts/LyonDisplay-Light.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "LyonDisplayItalic";
  src: url("../fonts/LyonDisplay-LightItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "CalvertMT";
  src: url("../fonts/CalvertMTStd.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CalvertMTBold";
  src: url("../fonts/CalvertMTStd-Bold.otf") format("opentype");
  font-weight: 800;
  font-style: oblique;
}
