@use "variables" as var;
@use "mixins" as mix;
@use "sass:color";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--font-main), sans-serif;
  font-size: var(--text-md);
  color: var(--color-text);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // outline: 1px solid green; // ENABLE FOR DEBUGGING OVERFLOW
}

// REMOVE SCROLLBAR
html,
body,
main {
  /* Firefox */
  scrollbar-width: none;
  /* IE/old Edge */
  -ms-overflow-style: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  /* Chrome/Safari */
  display: none;
}

// SMOOTH SCROLLING
body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

// BACKGROUND LIGHT/DARK MODE
body {
  transition: all 0.5s ease-in-out;
  width: 100%;
  overflow: hidden;
}

body {
  min-height: 200dvh; // example
  background-color: var(--color-anthrazit-dark);
  background: var(--color-gradient);
}

// TYPO

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

p {
  margin: 1em 0;
  &:first-of-type {
    margin-top: unset;
  }
  &:last-of-type {
    margin-bottom: unset;
  }
}

p,
span,
a {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s ease;
}

// LISTS

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

// SVG

svg {
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  shape-rendering: geometricPrecision;
}

// IMAGE

img {
  font-size: 10px;
  width: 100%;
}

img[src=""],
img:not([src]) {
  background: var(--color-white-variant);
  border: 1px solid var(--color-white-variant);
  // opacity: 0;
}

.arrow-big {
  margin-top: var(--space-xl);
  margin-left: var(--space-2xl);
}