.hl-xl {
    font-size: var(--text-xl);
    font-family: var(--font-lead);
    line-height: 1em;
}

.hl-lg {
    font-size: var(--text-md);
    font-family: var(--font-lead);
    line-height: 1.2em;
}