@use "fonts" as fnt;
@use "mixins" as mix;

$color-black: #1f1f1f;
$color-white: #fff;
$color-primary: #4d53b6;

:root {
  /* GENERAL */
  --w-main: 2000px;
  --font-main: "CalvertMT";
  --font-text: "CalvertMT";
  --font-text-bold: "CalvertMTBold";
  --font-lead: "LyonDisplay";
  --font-lead-italic: "LyonDisplayItalic";

  // TEXT SIZES
  --accessibility-font-size: 1;

  --text-us: calc(#{mix.fluid-clamp(12, 16)} * var(--accessibility-font-size));
  --text-xs: calc(#{mix.fluid-clamp(16, 20)} * var(--accessibility-font-size));
  --text-sm: calc(#{mix.fluid-clamp(18, 26)} * var(--accessibility-font-size));
  --text-md: calc(#{mix.fluid-clamp(22, 32)} * var(--accessibility-font-size));
  --text-lg: calc(#{mix.fluid-clamp(24, 40)} * var(--accessibility-font-size));
  --text-xl: calc(#{mix.fluid-clamp(60, 70)} * var(--accessibility-font-size));
  --text-ul: calc(#{mix.fluid-clamp(60, 120)} * var(--accessibility-font-size));

  /* SPACES */
  --space-2xs: #{mix.fluid-clamp(3, 5)};
  --space-xs: #{mix.fluid-clamp(6, 10)};
  --space-sm: #{mix.fluid-clamp(10, 15)};
  --space-md: #{mix.fluid-clamp(15, 20)};
  --space-lg: #{mix.fluid-clamp(20, 30)};
  --space-xl: #{mix.fluid-clamp(26, 40)};
  --space-2xl: #{mix.fluid-clamp(40, 60)};
  --space-3xl: #{mix.fluid-clamp(60, 80)};
  --space-4xl: #{mix.fluid-clamp(80, 120)};
  --space-5xl: #{mix.fluid-clamp(128, 192)};

  --space-fix-2xs: 5px;
  --space-fix-xs: 10px;
  --space-fix-sm: 15px;
  --space-fix-md: 20px;
  --space-fix-lg: 30px;
  --space-fix-xl: 40px;
  --space-fix-2xl: 60px;
  --space-fix-3xl: 80px;
  --space-fix-4xl: 120px;
  --space-fix-5xl: 192px;

  --space-collapsible-initial: calc(#{mix.fluid-clamp(60, 85)});
  --image-height-1: calc(#{mix.fluid-clamp(260, 400)});
  --image-height-2: calc(#{mix.fluid-clamp(290, 470)});
  --icon-height: 40px;
  --logo-height: calc(#{mix.fluid-clamp(80, 120)});
  --logo-height-sm: calc(#{mix.fluid-clamp(60, 80)});
  --icon-height-2: 20px;
  --button-height: 50px;
  --header-height: 156px;

  /* COLORS */
  --color-anthrazit-dark: #0a1316;
  --color-anthrazit: #202B32;
  --color-anthrazit-light: #4d555b;
  --color-white: #ffffff;
  --color-off-white: #dbddde;
  --color-primary: #dc0338;
  --color-primary-on: #a50029;
  --color-primary-dark: #470012;

  --color-gradient: linear-gradient(
    90deg,
    var(--color-anthrazit-dark),
    var(--color-primary-dark)
  );

  --color-text: var(--color-white);
  --color-highlight: var(--color-primary);
  --color-bg: var(--color-anthrazit-dark);

  @for $i from 0 through 9 {
    $opacity: $i * 0.1;
    $percent: $i * 10;

    --color-black-#{$percent}: #{rgba(var(--color-black), $opacity)};
    --color-white-#{$percent}: #{rgba(var(--color-white), $opacity)};
    --color-primary-#{$percent}: #{rgba(var(--color-primary), $opacity)};
  }

  /* EASING */
  --easing1: cubic-bezier(0.85, 0, 0.15, 1);

  /* DURATION */
  --duration-1: 0.2s;
  --duration-2: 0.5s;
  --duration-3: 0.7s;

  /* GAPS */
  --gap-1: var(--space-2xs);
  --gap-2: var(--space-xs);
  --gap-3: var(--space-md);

  /* BORDER OUTLINES */
  --outline-sm: 1px solid var(--color-text);
  --outline-md: 2px solid var(--color-text);
  --outline-lg: 3px solid var(--color-text);
  --outline-md-dark: 2px solid var(--color-anthrazit-light);

  /* BORDER RADIUS */
  --radius-1: 25px;
  --radius-round: 50px;

  // ACCESSIBILITY

  // Darkmode
  .accessibility-invert {
    --color-text: var(--color-white);
    --color-bg: var(--color-black);
  }

  // Bigger Text
  .accessibility-biggerText {
    --font-size-xs: calc(#{mix.fluid-clamp(24, 38.4)} * 1.5);
    --font-size-sm: calc(#{mix.fluid-clamp(24, 38.4)} * 1.5);
    --font-size-md: calc(#{mix.fluid-clamp(24, 38.4)} * 1.5);
  }
}
