.calendar {
  &-infos {
    &__title {
      display: flex;
      gap: var(--space-sm);
      align-items: center;
      padding-bottom: var(--space-fix-md);
      border-bottom: var(--outline-md-dark);
      margin-bottom: var(--space-fix-md);
    }

    &__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--space-fix-md);

      p {
        font-size: var(--text-us);
      }
    }

    ul {
    }
  }
}
