.calendar {
  &__week-switch {
    display: flex;
    align-items: stretch;
    gap: var(--space-xs);

    & > * {
      font-size: var(--text-xs);
    }
  }

  &__prev-week,
  &__next-week {
  }

  &__next-week {
  }

  &__current-week {
    padding: var(--space-xs) var(--space-sm);
    background-color: var(--color-white);
    color: var(--color-anthrazit);
    border-radius: var(--radius-1);
    align-self: center;

  }

  &-infos {
    &__title {
      display: flex;
      gap: var(--space-sm);
      align-items: center;
      padding-bottom: var(--space-fix-md);
      border-bottom: var(--outline-md-dark);
      margin-bottom: var(--space-fix-md);
    }

    &__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--space-fix-md);

      p {
        font-size: var(--text-us);
      }
    }

    ul {
    }
  }
}
