.faq {
  gap: var(--space-xl);

  &-item {
    padding: var(--space-md) 0;

    &__question {
      display: flex;
      gap: var(--space-xl);
      justify-content: space-between;
      align-items: center;

      svg {
        width: var(--icon-height);
        height: var(--icon-height);
        stroke: var(--color-white);
        fill: none;
        flex-shrink: 0;
      }
    }

    &__answer {
      padding-top: var(--space-lg);

      p {
        font-size: var(--text-sm);
      }
    }

    // expand styles

    svg {
      width: var(--icon-height);
      height: var(--icon-height);

      transition: transform 0.3s ease-in-out;
      transform: rotate(0deg);
    }

    &.expanded {
      svg {
        transform: rotate(45deg);
      }
    }
  }
}
