@use "../_utilities/variables" as var;

$padding: var(--space-md) var(--space-md);
$width: 100%;

@mixin inputGeneral {
  width: $width;
  display: block;
  background-color: transparent;
  border: var(--outline-md);
  padding: $padding;
  margin-bottom: var(--space-md);
}

input,
textarea,
select {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;

  transition: all 0.2s ease-in-out;
}

input {
  @include inputGeneral;

  &[type="radio"],
  &[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: var(--outline-md);
    border-radius: var(--radius-1); /* Apply a small border radius */
    background-color: transparent;

    &:checked {
      background-color: var(--color-bg); /* Optional: Highlight when checked */
      border-color: var(--color-text);
    }
  }

  &:focus {
    border-color: var(--color-text);
  }
}

textarea {
  @include inputGeneral;
}
