@use "../_utilities/mixins.scss" as mix;

header {
  position: absolute;
  top: 0;
  z-index: 100;
  pointer-events: none;

  .logo {
    pointer-events: auto;
    width: var(--logo-height);
    height: var(--logo-height);
    position: absolute;
    top: var(--space-lg);
    left: var(--space-lg);
    right: var(--space-lg);

    &--sm {
      margin-bottom: var(--space-3xl);
      width: var(--logo-height-sm);
      height: var(--logo-height-sm);
    }
  }

  .menu {
    display: flex;
    // grid-template-columns: repeat(4, 1fr);
    // gap: var(--space-md);
    // justify-self: end;
    position: fixed;
    top: var(--space-lg);
    right: var(--space-lg);
    // width: calc(100% - 2 * var(--space-lg));

    &__btn {
      justify-self: end;
      pointer-events: auto;
      align-self: start;
    }

    &__club-item {
      white-space: nowrap;
    }

    &__link-item {

      &.active,
      &.active * {
        color: var(--color-primary);
      }
    }

    &__close-button {
      width: auto;
      height: auto;
    }

    &__content {
      z-index: 1000;
      display: flex;
      justify-content: end;
      align-items: start;
      overflow: hidden;
      border-radius: var(--radius-1);
      position: absolute;
      top: 0;
      right: 0;
      width: 0;

      // transition: 0.3s all ease-in-out;

      &.expanded {
        width: 120%;

        @include mix.media-md {
          width: calc(100vw - var(--space-lg) * 2);
        }
      }

      &__wrapper {
        padding: var(--space-md);
        pointer-events: auto;
        width: 100%;
        transition: all 0.3s ease-in-out;
      }

      &__title {
        color: var(--color-primary);
      }

      &--nav {
        background-color: var(--color-anthrazit-dark);

        ul {
          margin: var(--space-md) 0;
          display: flex;
          flex-direction: column;
          gap: var(--space-md);
        }
      }

      &--trial {
        background-color: var(--color-primary);

        & * {
          color: var(--color-white);
        }

        &.expanded {
          width: 150%;

          @include mix.media-md {
            width: calc(100vw - var(--space-lg) * 2);
          }
        }
      }


      &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: var(--space-xl);
        flex-wrap: wrap;
        gap: var(--space-md);
      }
    }
  }
}