{% if globals.socialLinks|length %}
	<ul class="website-social-links">
		{% for socialLink in globals.socialLinks %}
			<li>
				<a href="{{socialLink.url}}" target="_blank">
					{{socialLink.name}}
				</a>
			</li>
		{% endfor %}

	</ul>
{% endif %}
