{% extends "base" %}

{% block bodyblock %}
	<h1>
		404 Error
	</h1>
	<p>There's nothing here. Go <a href="" onclick="history.back()">back</a></p>
{% endblock %}

{% block scriptblock %}
{% endblock %}
