{% set linkedPage = linkedPage ?? null %}
{% set linkedEntry = linkedPage.element ?? null %}
{% set inactive = inactive ?? false %}
{% set classes = classes ?? "" %}

{% if linkedEntry %}
	{% set linkedEntry = craft.entries()
        .id(linkedEntry.id)
        .site(currentSite.handle)
        .one()
    %}
{% endif %}

{% set href = href ?? (linkedEntry ? linkedEntry.url : linkedPage.value ?? '') %}
{% set text = text|default('')|trim ?: linkedEntry.title ?? linkedPage.label ?? 'untitled' %}
{% set callToAction = callToAction ?? false %}

{% if href %}
	<a href="{{ href }}" class="{{ callToAction ? 'button button--primary' : 'button' }} {{ classes }}">
		{{ text }}
	</a>
{% endif %}
