{% set globalCalendarInfos = craft.app.globals().getSetByHandle('calendar') %}

{% set localList = (entry.list ?? [])|filter(item => (item.text ?? '')|trim) %}
{% set globalList = (globalCalendarInfos.list ?? [])|filter(item => (item.text ?? '')|trim) %}

{% set additionalInfoText = entry.additionalInfoText|trim
    ? entry.additionalInfoText
    : globalCalendarInfos.additionalInfoText
%}

{% set list = localList|length ? localList : globalList %}

<section class="calendar">

	{% if entry.headline %}
		<h2 class="hl-xl grid-1-9">{{entry.headline}}</h2>
	{% endif %}

	{% include "_modules/calendar-schedule" %}

	<div class="calendar-infos grid-1-9">
		<div class="calendar-infos__title">
			<div class="icon--no-shrink">
				{% include "_svgs/icon-info"%}
			</div>
			<h3 class="hl-lg--bold">Infos</h3>
		</div>

		<div class="calendar-infos__content">

			{% if list|length %}
				<ul>
					{% for item in list %}
						<li>
							<p>{{ loop.index ~ ') '}}{{item.text}}</p>
						</li>

					{% endfor %}
				</ul>
			{% endif %}

			{% if additionalInfoText %}
				<p>{{additionalInfoText}}</p>
			{% endif %}
		</div>
	</div>

</section>