{% set eventsWien = craft.calendar.events({
  calendar: "clubWien",
  rangeStart: 'today',
  rangeEnd: '+6 months',
  orderBy: 'startDate ASC',
  limit: 100
}) %}

{% set eventsBrunn = craft.calendar.events({
  calendar: "clubBrunn",
  rangeStart: 'today',
  rangeEnd: '+6 months',
  orderBy: 'startDate ASC',
  limit: 100
}) %}

{% set weekdays = [
    "Montag"|t,
    "Dienstag"|t,
    "Mittwoch"|t,
    "Donnerstag"|t,
    "Freitag"|t,
    "Samstag"|t,
    "Sonntag"|t,
]  %}


<div class="schedule grid-full calendar__list">

	{% for weekday in weekdays %}
		<div class="calendar__weekday" data-weekday="{{loop.index0}}">
			<div class="schedule__weekday">
				<h6>{{ weekday }}</h6>
				<p data-weekday-date></p>
			</div>
			<div class="calendar__weekday-events" data-weekday-events></div>
		</div>
	{% endfor %}

	<template data-template="calendar-daytime">
		<div class="schedule__daytime ">
			<p data-daytime></p>
		</div>
	</template>

	<template data-template="calendar-empty">
		<div class="schedule__empty schedule__card">
			<p data-empty-text>{{  "Keine Classes geplant"|t }}</p>
		</div>
	</template>


	<template data-template="calendar-event">
		<div class="schedule-event schedule__card">
			<p class="schedule-event__time">
				<span data-start-time></span>
				-
				<span data-end-time></span>
			</p>
			<h3 class="schedule-event__class" data-title></h3>
		</div>
	</template>
</div>
