{% set locations = craft.entries()
	.section('club')
	.level(1)
    .site(currentSite.handle)
    .all()
%}

{% set globalCalendarInfos = craft.app.globals().getSetByHandle('calendar') %}

{% set localList = (entry.list ?? [])|filter(item => (item.text ?? '')|trim) %}
{% set globalList = (globalCalendarInfos.list ?? [])|filter(item => (item.text ?? '')|trim) %}

{% set additionalInfoText = entry.additionalInfoText|trim
    ? entry.additionalInfoText
    : globalCalendarInfos.additionalInfoText
%}

{% set calendar = entry.calendarSection ?? null %}
{% set list = localList|length ? localList : globalList %}

{% if calendar %}
	<section class="calendar item-switch">
		{% if calendar.headline %}
			<h2 class="hl-xl grid-1-9">{{calendar.headline}}</h2>
		{% endif %}

		<div class="grid-full flex-between">
			<div>
				{% include "_modules/location-switch" with { displayedLocations: locations }%}
			</div>
			<div class="calendar__week-switch">
				<button class="calendar__prev-week button">prev</button>
				<p class="calendar__current-week"></p>
				<button class="calendar__next-week button">Next</button>

			</div>
		</div>

		{% include "_modules/calendar-schedule" %}

		<div class="calendar-infos grid-1-9">
			<div class="calendar-infos__title">
				<div class="icon--no-shrink">
					{% include "_svgs/icon-info"%}
				</div>
				<h3 class="hl-lg--bold">Infos</h3>
			</div>

			<div class="calendar-infos__content">

				{% if list|length %}
					<ul>
						{% for item in list %}
							<li>
								<p>{{ loop.index ~ ') '}}{{item.text}}</p>
							</li>

						{% endfor %}
					</ul>
				{% endif %}

				{% if additionalInfoText %}
					<p>{{additionalInfoText}}</p>
				{% endif %}
			</div>
		</div>

	</section>

{% endif %}


{% include "_svgs/icon-arrow-big" %}
