{% set displayedClubs = displayedClubs ?? null  %}

{% if displayedClubs %}
	<div class="button-switch">
		{% for club in displayedClubs %}
			<button class="button-switch__item white-space-nowrap button button--grey item-switch__button" data-value="{{ club.title }}">{{club.title}}</button>
		{% endfor %}
	</div>
{% endif %}
