<section style="margin-top: 20px; width: 100%;">

	<h2>Slider Example</h2>

	<div class="simple-slider">

		<div class="simple-slider__controls">
			<button class="simple-slider__arrow-prev">prev</button>
			<button class="simple-slider__arrow-next">next</button>
		</div>

		<div>

			<div class="simple-slider__track">
				<div class="simple-slider__slide" style="padding: 50px; background-color: red;">meep</div>
				<div class="simple-slider__slide" style="padding: 50px; background-color: red;">meep</div>
				<div class="simple-slider__slide" style="padding: 50px; background-color: red;">meep</div>
				<div class="simple-slider__slide" style="padding: 50px; background-color: red;">meep</div>
				<div class="simple-slider__slide" style="padding: 50px; background-color: red;">meep</div>
				<div class="simple-slider__slide" style="padding: 50px; background-color: red;">meep</div>
				<div class="simple-slider__slide" style="padding: 50px; background-color: red;">meep</div>
			</div>
		</div>
	</div>
</section>
