{% set hasMultimedia = entry.headerModuleMultimedia ?? false %}
{% set header = hasMultimedia ? entry.headerModuleMultimedia : entry.headerModule ?? null %}

{% if header %}
	<section>

		{% if hasMultimedia %}
			<div>
				{% include "_modules/media-asset" with { media: header.mediaElement } %}
			</div>
		{% else %}
			<div>
				{% include "_modules/image" with { image: header.image } %}
			</div>
		{% endif %}

		{% if header.alternateHeadline and header.headline %}
			<h1>{{ header.headline }}</h1>
		{% else %}
			<h1>{{ entry.title }}</h1>
		{% endif %}

		{% if header.introductionText %}
			<p>{{ header.introductionText }}</p>
		{% endif %}

		{% if header.buttonMatrix|length %}
			{% include "_modules/button-matrix" with { matrix: header.buttonMatrix } %}
		{% endif %}

	</section>
{% endif %}
