{% set displayedLocations = displayedLocations ?? null  %}

{% if displayedLocations %}
	<div class="button-switch">
		{% for location in displayedLocations %}
			<button class="button-switch__item button button--inactive" data-label={{ location.title }}>{{location.title}}</button>
		{% endfor %}
	</div>
{% endif %}
