<section>
	{% if matrixItem.title %}
		<h2 class="hl-xl grid-1-9">{{matrixItem.title }}</h2>
	{% endif %}

	{% if matrixItem.textfield %}
		<p class="grid-1-9">{{matrixItem.textfield }}</p>
	{% endif %}

</section>
