{% set hasMultimedia = entry.headerModuleMultimedia ?? false %}
{% set header = hasMultimedia ? entry.headerModuleMultimedia : entry.headerModule ?? null %}
{% set hasAsset = false %}
{% set isGroupDetailPage = entry.type.handle == 'groupClassSection' %}

{% if header %}

	{% if hasMultimedia %}
		{% set hasAsset =
      header.mediaElement.image.one() ??
      header.mediaElement.video.one() ??
      false
    %}
	{% else %}
		{% set hasAsset = header.image.one() ?? false %}
	{% endif %}

	{% set displayHeaderImage = hasAsset and not isGroupDetailPage %}

	{% if displayHeaderImage %}
		{% if hasMultimedia %}
			<div class="header-image image-container image-container--contain image-container--media grid-full">
				{% include "_modules/media-asset" with { media: header.mediaElement } %}
				{% include "_svgs/icon-arrow-big" %}
			</div>
		{% else %}
			<div class="header-image image-container image-container--contain image-container--feature grid-full">
				{% include "_modules/image" with { image: header.image } %}
			</div>
		{% endif %}
	{% endif %}

	{% if not header.hideHeader %}

		<section class="header {{ displayHeaderImage ? " " : " header--no-asset" }}">


			{% if header.alternateHeadline and header.headline %}
				<h1 class="hl-xl grid-1-9">{{ header.headline }}</h1>
			{% else %}
				<h1 class="hl-xl grid-1-9">{{ entry.title }}</h1>
			{% endif %}

			{% if header.introductionText %}
				<div class="grid-1-9">{{ header.introductionText }}</div>
			{% endif %}

			{% if header.locationTags|length %}
				{% include "_modules/button-locations" with { tags: header.locationTags } %}
			{% endif %}

			{% if header.buttonMatrix|length %}
				{% include "_modules/button-matrix" with { matrix: header.buttonMatrix } %}
			{% endif %}

		</section>

	{% endif %}

	{% if header.showBigArrow %}
		{% include "_svgs/icon-arrow-big" %}
	{% endif %}

{% endif %}
