<section class="recommendations">
	<div class="recommendations__title grid-1-9">
		<div class="icon--no-shrink">
			{% include "_svgs/icon-info" %}
		</div>
		<h2 class="hl-lg--bold">{{ 'Das könnte Sie auch interessieren'|t }}</h2>
	</div>

	{% if matrixItem.buttonMatrix|length %}
		{% include "_modules/button-matrix" with { matrix: matrixItem.buttonMatrix } %}
	{% else %}
		<p>{{'Keine Vorschläge vorhanden.'|t}}</p>
	{% endif %}

</section>
