{% if matrixItem.bigNumbersMatrix %}
	<section class="big-numbers">

		{% for item in matrixItem.bigNumbersMatrix.all() %}

			<div class="grid-full big-numbers__item">

				<div class="big-numbers__item__number">

					{% if item.number %}
						<h2 class="hl-ul">{{item.number }}</h2>
					{% endif %}
				</div>

				<div class="big-numbers__item__text">

					{% if item.textfield %}
						<p>{{item.textfield }}</p>
					{% endif %}

					{% set button =  item.buttonToPage %}
					{% if button %}
						{% if button.enabledSwitch and button.linkToPage %}
							{% include "_modules/button-to-page" with { text: button.label ? button.label : button.linkToPage.element.title, linkedPage: button.linkToPage, callToAction: button.isCallToAction, classes: "button--tertiary" } %}
						{% endif %}
					{% endif %}
				</div>
			</div>


		{% endfor %}

	</section>
{% endif %}
