<section class="hardfacts">

	{% if matrixItem.title %}
		<h2 class="hl-xl grid-1-9">{{matrixItem.title }}</h2>
	{% endif %}

	{% if matrixItem.hardfactsMatrix|length %}

		<div class="hardfacts__container grid-1-9">

			{% for hardfact in matrixItem.hardfactsMatrix.all() %}
				{% set list = (hardfact.list ?? [])|filter(item => item.text|trim) %}

				<div class="hardfacts__item">
					<div class="image-container image-container--contain image-container--rounded">
						{% include "_modules/image" with { image: hardfact.image } %}
					</div>

					{% if hardfact.title %}
						<div class="hardfacts__title">
							{% include "_svgs/icon-check"%}
							<h2 class="hl-lg">{{hardfact.title }}</h2>
						</div>
					{% endif %}

					{% if hardfact.textfield %}
						<div class="grid-1-9">{{hardfact.textfield }}</div>

					{% endif %}

					{% if list|length %}
						<ul>
							{% for item in list %}
								<li>
									<p>{{item.text}}</p>
								</li>
							{% endfor %}
						</ul>
					{% endif %}

					{% if hardfact.buttonMatrix|length %}
						{% include "_modules/button-matrix" with { matrix: hardfact.buttonMatrix } %}
					{% endif %}
				</div>
			{% endfor %}
		</div>
	{% endif %}


</section>
