<section class="faq">

	{% if matrixItem.title %}
		<h2 class="hl-xl grid-1-9">{{matrixItem.title }}</h2>
	{% endif %}

	{% if matrixItem.questionMatrix %}
		<ul class="section-dropdowns grid-1-11 list">


			{% for card in matrixItem.questionMatrix.all() %}

				<li class="dropdown faq-item">
					<div class="dropdown__label faq-item__question">
						<p>{{card.question}}</p>
						{% include "_svgs/icon-plus"%}
					</div>
					<div class="dropdown__content">
						<div class="faq-item__answer">
							{{card.answer}}
						</div>
					</div>
				</li>

			{% endfor %}
		</ul>
	{% endif %}

	{% if matrixItem.buttonMatrix|length %}
		<div class="grid-1-9">
			{% include "_modules/button-matrix" with { matrix: matrixItem.buttonMatrix } %}
		</div>
	{% endif %}

</section>
