{% set globalCalendarInfos = craft.app.globals().getSetByHandle('calendar') %}

{% set localList = (matrixItem.list ?? [])|filter(item => (item.text ?? '')|trim) %}
{% set globalList = (globalCalendarInfos.list ?? [])|filter(item => (item.text ?? '')|trim) %}

{% set additionalInfoText = matrixItem.additionalInfoText|trim
    ? matrixItem.additionalInfoText
    : globalCalendarInfos.additionalInfoText
%}

{% set list = localList|length ? localList : globalList %}

<section class="calendar">
	{% if matrixItem.title %}
		<h2 class="hl-xl grid-1-9">{{matrixItem.title}}</h2>
	{% endif %}

	<div class="grid-full">Calendar</div>


	<div class="calendar-infos grid-1-9">
		<div class="calendar-infos__title">
			{% include "_svgs/icon-info"%}
			<h3 class="hl-lg">Infos</h3>
		</div>

		<div class="calendar-infos__content">

			{% if list|length %}
				<ul>
					{% for item in list %}
						<li>
							<p>{{ loop.index ~ ') '}}{{item.text}}</p>
						</li>

					{% endfor %}
				</ul>
			{% endif %}

			{% if additionalInfoText %}
				<p>{{additionalInfoText}}</p>
			{% endif %}
		</div>
	</div>

</section>
