<section>
	{% if matrixItem.textfield %}
		<div class="hl-xl grid-1-9">{{matrixItem.textfield }}</div>
	{% endif %}

	{% set button = matrixItem.buttonToPage %}
	{% set link = button.linkToPage %}
	{% set entry = link.element ?? null %}

	{% if button.enabledSwitch and link %}
		{% if entry %}
			{% set entry = craft.entries()
            .id(entry.id)
            .site(currentSite.handle)
            .one()
        %}
		{% endif %}

		<div class="grid-full">
			{% include "_modules/button-to-page" with { text: button.label ? button.label : button.linkToPage.element.title, linkedPage: button.linkToPage, callToAction: button.isCallToAction } %}
		</div>

	{% endif %}


</section>
