<section class="highlights">
	{% if matrixItem.title %}
		<h2 class="hl-xl grid-1-9 ">{{matrixItem.title }}</h2>
	{% endif %}

	{% if matrixItem.textfield %}
		<div class="grid-1-9">{{matrixItem.textfield }}</div>
	{% endif %}

	{% if matrixItem.featureCardMatrix|length %}
		<div class="highlights__container grid-full">
			{% for card in matrixItem.featureCardMatrix.all() %}
				<div class="highlights__item image-card">
					{% if card.title %}
						<p class="hl-xl">{{card.title }}</p>
					{% endif %}

					{% set button =  card.buttonToPage %}
					{% if button.enabledSwitch and button.linkToPage %}
						{% include "_modules/button-to-page" with { text: button.label ? button.label : button.linkToPage.element.title, linkedPage: button.linkToPage, callToAction: button.isCallToAction } %}
					{% endif %}

					<div class="image-container image-container--contain image-container--rounded">
						{% include "_modules/image" with { image: card.image } %}
					</div>

				</div>
			{% endfor %}
		</div>
	{% endif %}


</section>
