<section class="headline-text">
	{% if matrixItem.title %}
		<h2 class="hl-xl grid-1-9">{{matrixItem.title }}</h2>
	{% endif %}

	{% if matrixItem.textfield %}
		<div class="grid-1-9">{{matrixItem.textfield }}</div>
	{% endif %}

</section>
