<nav class="flex-between">
	{% include "_svgs/logo.twig" %}
	{% if globalsNav.navigation|length %}
		<ul>
			{% for navItem in globalsNav.navigation %}
				<li>
					<a href="{{navItem.url}}">
						{{navItem.title}}
					</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}

	{% include "_components/language-switch.twig" %}
</nav>
