{% set url = url ?? null %}
{% set title = title ?? null %}
{% set classes = classes ?? ""  %}
{% set hasPin = hasPin ?? false %}

{% if url %}
	<a class="button button--disabled" href='{{url}}'>
		{% if hasPin %}
			{% include "_svgs/icon-pin"%}
		{% endif %}
		{{title}}
	</a>
{% else %}
	<button class="button button--disabled {{ classes }}">
		{% if hasPin %}
			{% include "_svgs/icon-pin"%}
		{% endif %}
		<p>
			{{title}}
		</p>
	</button>
{% endif %}
